.textBg{
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
    cursor: pointer;
}

.boxBg:hover{
    /* -webkit-transform:  scale(1.1); */
    -webkit-filter: blur(3px);
    overflow: hidden;
    filter: brightness(75%);
    /* transform: scale(1.1); */
}